<div
	?disabled="${props.disabled}"
	class="
		form-control
		${props.horizontal ? 'horizontal' : ''}
		${props.inline ? 'inline' : ''}
		${props.right ? 'right' : ''}
		${props.stacked ? 'stacked' : ''}
		${props._valid ? 'valid' : 'invalid'}
	">

	${props.label
		? html`<label class="label">${props.label}</label>`
		: null
	}

	<div class="radios">
		${props.data.map((value, i) => html`
			<label
				tabindex="${props.disabled ? -1 : 0}"
				@keypress="${this._onkeypress.bind(this, value)}"
				class="sublabel ${JSON.stringify(props.value) === JSON.stringify(value) ? 'active' : ''}">
				<b class="radio"></b>
				${props.labelKey && typeof props.data[0] === 'object'
					? value[props.labelKey]
					: typeof value === 'object'
						? JSON.stringify(value)
						: value
				}
				<input
					hidden
					type="radio"
					tabindex="-1"
					.value="${value}"
					name="${props.name}"
					@click="${this._onclick.bind(this, value)}"
					?checked="${JSON.stringify(props.value) === JSON.stringify(value)}">
			</label>
		`)}
	</div>

	${props._eMsg || props.subtext
		? html`<p class="subtext">${props._eMsg || props.subtext}</p>`
		: null
	}
</div>

<link rel="stylesheet" href="../styles/rb-radios.css">
