<div
	disabled?="${props.disabled}"
	class$="
		rb-radios
		${props.horizontal ? 'horizontal' : ''}
		${props.inline ? 'inline' : ''}
		${props.right ? 'right' : ''}
		${props.stacked ? 'stacked' : ''}
		${props._valid ? 'valid' : 'invalid'}
	">

	${props.label
		? html`<label class="radios-label">${props.label}</label>`
		: null
	}

	<div class="radios-wrap">
		${props.data.map((val, i) => html`
			<label class$="radio-label ${JSON.stringify(props.value) === JSON.stringify(val) ? 'active' : ''}">
				<input
					checked?="${JSON.stringify(props.value) === JSON.stringify(val)}"
					on-change="${this._onchange.bind(this, val)}"
					hidden type="radio" name="radios" value="${val}">
				<b class="radio"></b>
				${props.labelProp
					? val[props.labelProp]
					: typeof val === 'object'
						? JSON.stringify(val)
						: val
				}
			</label>
		`)}
	</div>

	${props._eMsg || props.subtext
		? html`<span class="subtext">${props._eMsg || props.subtext}</span>`
		: null
	}
</div>

<link rel="stylesheet" href="../styles/rb-radios.css">
