<div
	?disabled="${props.disabled}"
	class="
		form-control
		${props.right ? 'right' : ''}
		${props.label && 'with-label'}
		${props.inline ? 'inline' : ''}
		${props.stacked ? 'stacked' : ''}
		${this._valid ? 'valid' : 'invalid'}
		${props.horizontal ? 'horizontal' : ''}
		${state.slots.popover ? 'with-popover' : ''}
	">
	${props.label || state.slots.popover
		? html`
			<div class="label">
				${state.slots.popover
					? html`<slot name="popover"></slot>`
					: null
				}
				${props.label
					? html`<label>${props.label}</label>`
					: null
				}
			</div>
		`: null
	}
	<div class="radios">
		${props.data.map((item, i) => html`
			<label
				tabindex="${props.disabled ? -1 : 0}"
				@keypress="${this._onkeypress.bind(this, item)}"
				class="sublabel ${JSON.stringify(props.value) === JSON.stringify(item) ? 'active' : ''}">
				<b class="radio"></b>
				${props.labelKey && typeof props.data[0] === 'object'
					? item[props.labelKey]
					: typeof item === 'object'
						? JSON.stringify(item)
						: item
				}
				<input
					hidden
					type="radio"
					tabindex="-1"
					.value="${item}"
					name="${props.name}"
					@click="${this._onclick.bind(this, item)}"
					?checked="${JSON.stringify(props.value) === JSON.stringify(item)}">
			</label>
		`)}
	</div>

	${this._error || props.subtext
		? html`<p class="subtext">${this._error || props.subtext}</p>`
		: null
	}
</div>

<link rel="stylesheet" href="../styles/rb-radios.css">
