/*********
 * RADIOS
 *********/
.radios {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: -12px;
}

/* Common
 *********/
.radio {
	$radius: 50%;
	margin-right: 6px;
	border-radius: $radius;
	&::before, &::after {
		opacity: 0;
		position: absolute;
		border-radius: $radius;
		transition: all .3s;
		content: '';
	}
}

/* Dimensions
 *************/
.radio {
	position: relative;
	$dim: 16px;
	width: $dim;
	height: $dim;
	min-width: $dim;
	min-height: $dim;
	&::before { // outer circle
		$dim: 180%;
		$coords: -41%;
		top: $coords;
		left: $coords;
		width: $dim;
		height: $dim;
	}
	&::after { // the dot
		$dim: 50%;
		$coords: 25%;
		top: $coords;
		left: $coords;
		width: $dim;
		height: $dim;
	}
}

/* States
 *********/
.sublabel {
	&:focus { outline: none; }
	&:focus .radio::before,
	&:hover .radio::before { opacity: .1; }
	&.active .radio::after { opacity: 1; }
}