& {
	display: flex;
	flex-direction: column;
	margin-bottom: remy(20);

	/* Font Size
	 ************/
	font-size: remy(16);
	.radio { font-size: remy(15.5); }
	.subtext { font-size: remy(13); }

	/* Font Weight
	 **************/
	font-weight: 300;

	/* Letter Spacing
	 *****************/
	letter-spacing: .06em;

	/* Line Height
	 **************/
	line-height: remy(21);
}