/*********
 * LABELS
 *********/
.radios-label {
	margin-bottom: remy(7);
	cursor: text;
	color: mapGet($formControlColors, text, radiosLabel, default);
}

.radio-label {
	display: flex;
	flex-direction: row;
	cursor: pointer;
	color: mapGet($formControlColors, text, radioLabel, default);
	margin-bottom: remy(10);
}