/*********
 * STATES
 *********/
&.invalid {
	label,
	.subtext {
		color: mapGet($formControlColors, text, invalid, default);
	}
	.radio {
		border-color: mapGet($formControlColors, borders, invalid, default) !important;
		&::before,
		&::after {
			background-color: mapGet($formControlColors, bg, invalid, default) !important;
		}
	}
}